@font-face
{
    font-family: 'Modern';
    src: url('polices/ModernSans-Light.otf');
}

@font-face
{
	font-family: 'Eastman';
    src: url('polices/EastmanTrial-Regular.otf');
}

@font-face
{
	font-family: 'Calibri';
    src: url('polices/calibri.ttf');
}

body
{
   overflow-x: hidden;
   padding:0;
   margin:0;
}

#site-container
{
	z-index: 99;
}

header
{
	background-color: white;
    border-bottom: 1px solid transparent;
    min-height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
	display: flex;
	flex-direction:row;
	justify-content: flex-end;
	box-shadow: 0px 0px 6px black;
}

.logo-align
{
	display:flex;
}

.logo
{
	flex: 1;
	max-width:20%;
	min-height:70px;
	min-width:360px;
}

.boutons
{
	display: flex;
    justify-content: flex-end;
}

.bouton-header
{
	font-family:Modern;
	font-size : 1.3em;
	padding-top:30px;
	padding-right:30px;
	color:black;
	min-width:99px;
	text-align:center;
}

.bouton-header:hover
{
	color: #0066cc;
}

.bouton-header:link
{
	text-decoration:none;
}

.bouton-header-actuel
{
	font-family:Modern;
	font-size : 1.3em;
	padding-top:30px;
	padding-right:30px;
	color:#0066cc;
	min-width:99px;
	text-align:center;
}

.bouton-header-actuel:hover
{
	color: #0066cc;
}

.bouton-header-actuel:link
{
	text-decoration:none;
}

.banniere-accueil
{
	width: 100%;
	height: auto;
	max-height:1000px;
	overflow: hidden;
	margin-bottom : 80px;
	background : url("images/banner.png");
	background-size:cover;
	padding-top:300px;
	padding-bottom:300px;
	padding-left:120px;
	font-size:5em;
	font-family: 'Eastman';
	color:white;
}

.banniere-page-secondaire
{
	width: 100%;
	height: auto;
	max-height:1000px;
	overflow: hidden;
	margin-bottom : 80px;
	background : url("images/banner.png");
	background-size:cover;
	padding-top:170px;
	padding-bottom:170px;
	padding-left:120px;
	font-size:5em;
	font-family: 'Eastman';
	color:white;
}

.fond
{
    background-image: src="images/banner.png";
}

.marge
{
	max-width:1000px;
	margin:0 auto;
}

.image-maintenance
{
	max-width:15%;
}

.titre-presentation
{
	font-family: 'Eastman';
	font-size: 2.5em;
	padding-top:50px;
}

.p-presentation
{
	font-family: 'Calibri';
	font-size: 1em;
	padding-bottom:30px;
}

.rubriques
{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
}

.titre-rubrique
{
	font-family: 'Eastman';
	text-align:left;
	font-size:1.5em;
}

.p-rubrique
{
	font-family: 'Calibri';
	padding-right:40px;
	padding-bottom:15px;
}

.p-rubrique-special
{
	font-family: 'Calibri';
	padding-bottom:15px;
}

.bouton-rubrique
{
	text-align : center;
	background-color:black;
	width:35%;
	color:white;	
	padding:12px;
	border-radius: 5px;
	font-size:0.8em;
	font-family: 'Modern';
}

.bouton-rubrique:hover
{
	background-color: #0066cc;
}

.bouton-rubrique:link
{
	text-decoration:none;
}
	
h2
{
	font-family: 'Eastman';
	font-size: 2em;
	text-align : center;
	padding-top:20px;
}

p
{
	font-family: 'calibri';
	font-size: 1em;
}

.video
{
	max-width:1000px;
	padding-top:20px;
  	padding-bottom:20px;
  	padding-left:200px;
}

#img-container
{
	display: flex;
    justify-content: center;
	font-family: 'Calibri';
	font-size: 1em;
}

.img-iut
{
	max-width:20%;
	min-height:118px;
	min-width:185px;
}

.img-univ
{
	max-width:20%;
	min-height:118px;
	min-width:324px;
}

table
{
    border-collapse: collapse;
	margin: auto;
}

caption
{
	font-family: 'Calibri';
	font-size:1em;
	padding-bottom:5px;
}

.td-question
{
	border: 1px solid black;
	padding:5px;
	text-align:left;
	font-family: 'Calibri';
	font-size:1em;
}

td
{
    border: 1px solid black;
	padding:5px;
	text-align :center;
	font-family: 'Calibri';
	font-size:1em;
}

.align-txt
{
	text-align:center;
}

.align-source
{
	margin: auto;
	text-align:center;
	padding-top:5px;
	font-family: 'Calibri';
	font-size:1em;
}
	
.haut-de-page-link
{
	padding-top:40px;
	font-size:1em;
	color:black;
}

.haut-de-page-link:hover
{
	text-decoration:none;
}

.haut-de-page-link:link
{
	text-decoration:none;
}

.haut-de-page-str
{
	text-align:center;
	text-decoration: underline;
}
	
.marge-bas-accueil
{
	padding:50px
}

.marge-bas-page-secondaire
{
	padding:10px
}

.pied-de-page
{
	display: flex;
	justify-content:space-between;
	background-color:#F7F7F7;
	width: 100%;
}

.noms
{
	font-family: 'Calibri';
	padding:10px;
}

.copyright
{
	padding-top:50px;
	font-family: 'Calibri';
	text-align:center;
}

.logo-iut
{
	width: 125px;
	height: 81px;
	padding:10px;
}